* {
    padding: 0;
    margin: 0;
    color: #DCF2F1;
    font-family: "Roboto", sans-serif;
}

.navbar{
    
    text-align: right;
    position: relative;
    z-index: 1;
    height: 100%;
}

a{
    text-decoration: none;
}


/* Estilos para los círculos de los iconos */
.status-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    margin: 5px; /* Ajusta el margen según sea necesario */
    border: 2px solid #000; /* Añadir un borde negro */
}

/* Estilos para los iconos */
.fa-file, .fa-hand, .fa-screwdriver-wrench, .fa-flag-checkered {
    color: blue; /* Cambia el color del icono */
}

/* Estilos para la barra de progreso */
.progress-bar {
    position: relative;
    width: 75%;
    height: 50px;
    background-color: #365486;
    border-radius: 25px;
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para los iconos de progreso */
.status-icons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Estilos para los iconos de progreso */
.status-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    margin: 5px; /* Ajusta el margen según sea necesario */
    border: 2px solid #000; /* Añadir un borde negro */
}

/* Estilos para la barra de progreso */
.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Inicialmente sin progreso */
    height: 100%;
    background-color: #DCF2F1;
    border-radius: 25px;
    transition: width 0.3s ease; /* Agrega una transición suave */
}

.text{
    width: 75%;
    justify-content: space-between;
    margin: 25px 0 0 0;
    display: flex;
    flex-flow: row;
    font-family: "Roboto", sans-serif;
}


.bar-content{
    width: 100%;
    flex-flow:column ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title{
    margin: 20px 0 50px 200px;
    align-self: left;
    width: 100%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.t{
    color: inherit;
    font-size: 40px;
    text-align: center;
    margin: 100px 0 0 0;
}

.container{
    margin: 30px 0 0 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.plani{
    margin: 30px;
    height: 400px;
    width: 400px;
    background-color: #365486;
    border-radius: 20px;
}

.creant{
    margin: 30px 15px 30px 0;
    height: 400px;
    width: 400px;
    background-color: #365486;
    border-radius: 20px;
}

.pro{
    margin: 30px 30px 30px 15px;
    height: 400px;
    width: 400px;
    background-color: #365486;
    border-radius: 20px;
}

.ctitle{
    margin: 10px 0 40px 0;
    font-size: 35px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.cul{
    list-style: circle;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cli{
    margin: 20px;
}

