* {
    padding: 0;
    margin: 0;
    color: #DCF2F1;
}

body {
    background: #0F1035;
}

.navbar {
    text-align: right;
    position: relative;
    height: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 10px;
    background: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px; /* Tamaño de fuente explícito */
}

ul {
    list-style: none;
    text-align: right;
    background: none;
    font-size: 15px;
}

.maint {
    margin-top: 50px;
    text-align: center;
    font-size: 100px;
    background: none;
    color: #DCF2F1;
    position: relative;
    z-index: 2;
}

.heading {
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    top: 0;
    background-color: #365486;
    box-shadow: #0F1035 0 20px 20px 25px;
    z-index: 0;
}

.ola, .olac {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.text {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 300px; /* Ajusta la altura según tus necesidades */
    position: relative;
    margin-top: 100px; /* Ajusta el margen superior según sea necesario */
}

.slider {
    overflow: hidden;
    width: 75%; /* Modifica el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según tus necesidades */
    position: relative;
    margin: 350px auto 0; /* Centra verticalmente y agrega un margen superior de 50px */
}


.slide.show {
    display: block;
    opacity: 1; /* Muestra la diapositiva con una transición suave */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar la imagen al contenedor */
    border-radius: 10px;
    border: 5px solid #365486;
}
